[sso-session sso]
sso_start_url =
sso_region = ap-northeast-1

# admin
[profile aws-admin]
sso_session = sso
sso_account_id =
sso_role_name = AdministratorAccess
region = ap-northeast-1
output = json

# aws-prod
[profile aws-prod]
sso_session = sso
sso_account_id =
sso_role_name = AdministratorAccess
region = ap-northeast-1
output = json
