[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
alembic = "*"
pytz = "*"
pymysql = "*"
fastapi = "*"
uvicorn = "*"
pyjwt = "*"
pydantic = {extras = ["email"], version = "*"}
typer = "*"
factory-boy = "*"

[dev-packages]
debugpy = "*"
flake8 = "*"
mypy = "*"
black = "*"
isort = "*"

[requires]
python_version = "3.10"
